
<main>
  <section>
		<h1>こんにちは「Simic」です</h1>

		<h3>当サイトは、</h3>
		  <h3 class="concept">「作品の内容をざっくり把握してから読みたい人向け」の</h3>
		  <h3 class="concept2">漫画レビュー投稿サイトです</h3>

		<p>作品を表すキーワードが並んでいたら、内容がざっくりを把握しやすいのでは？</p>
		<p>作品ごとに自由にタグ付けができ、「主人公最強系」「おじさんと可愛いもの」なんて、心惹かれるキーワードにも出会えるかもしれません！</p>
		<p>そんな出会いから新しい作品にチャレンジをしてみたり、自分でレビューを投稿して布教活動をしてみたり……</p>
		<p>みなさんの明るい漫画読書ライフを応援しております！</p>
	</section>
</main>


<style>

  main {
		width: 60%;
    border-radius: 10px;
		background-color: white;
		margin: 0 auto;
		padding: 80px 0;
  }

  section {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
  	text-align: center;
  	margin-bottom: 60px;
  }

  h3 {
  	font-size: 18px;
  	line-height: 20px;
  }

  .concept {
  text-align: center;
  }

  .concept2 {
  	text-align: right;
  	margin-bottom: 60px;
  }

  p {
  	font-size: 14px;
  }

</style>