/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 @import "bootstrap";
 @import "font-awesome";


header {
	height: 65px;
}

body {
  background-color: #d7d9de;
  padding: 150px 0;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #5d5e61;

  margin: 0 auto;
}

.error.message {
  width: 100%;
}

.logo_img {
  width: 120px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.review-new {
	font-size: 12px;
}

.nav-btn {
	margin-top: 5px;
	margin-left: 3px;
}

.nav-btn-last {
	margin-right: 50px;
}

.wel-user {
	font-size: 12px;
	color: gray;
	margin: 13px 30px 0 20px;
}

.search-form {
	color: #5d5e61;
	font-size: 12px;
  width: 200px;
  height: 30px;
	border:none;
  border-radius:50px;
  box-shadow: none;
  padding: 2px 8px;
}

.search-form::placeholder {
	font-size: 12px;
}

.search-btn {
  color: #5d5e61;
  border-radius:10px;
  box-shadow: none;
  padding: 2px 8px;
  cursor: pointer;
}

.alert {
		border-radius: 0px;
}

.error_msg {
	margin: 0;
}

.sign-upin {
  text-align: center;
	margin: 20px auto;
	h2 {
    margin-bottom: 30px;
	}
	.sign-upin-form {
		margin-bottom: 20px;
		border-radius: 10px;
		border: 1px solid #5d5e61;
		box-shadow: none;
	}
}

.sign-upin-btn {
  color: #5d5e61;
  background-color: #ffe0ad;
  font-size: 16px;
  padding: 5px 10px;
  margin: 20px 0;
}

.pagination {
  justify-content: center;
  margin: 50px 0 0;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: tomato;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

footer {
  width: 100%;
	padding: 15px 0;
	text-align: center;
	background: #bccddb;
  position: absolute;
  bottom: 0;
}

.footer-content p {
	color: #fff;
  margin: 0;
}